.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar button {
    background-color: #87bb64;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.avatar button:hover {
    background-color: #5e8d40;
}

.avatar img {
    width: 50px;
    height: auto;
    margin: 0 20px;
}