body {
    margin: 0;
    padding: 0;
    background-image: url('../library/logos/minimal.webp');
    background-size: auto;
    background-position: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.logout img {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}

.logout h2 {
    font-size: 24px;
    font-weight: bold;
    color: #87bb64;
    margin-bottom: 20px;
    text-align: center;
}

.logout h3 {
    font-size: 18px;
    font-weight: bold;
    color: #87bb64;
    margin-bottom: 30px;
}

.logout span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.logout span img {
    width: 200px;
    height: 200px;
    height: auto;
}

.logout button {
    background-color: #87bb64;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.logout button:hover {
    background-color: #5e8d40;
}

.box footer {
    color: #87bb64;
    font-size: 12px;
    margin-top: 30px;
}