.message {
    display: flex;
    align-items: center;
    max-width: 80%;
    padding: 10px;
    border-radius: 20px;
    background-color: #d7f0c6;
    color: #080808;
    margin-bottom: 10px;
}

.message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message .message-author {
    font-weight: bold;
    margin-right: 50px;
}

.message .message-text {
    flex-grow: 1;
}

.message .message-timestamp {
    font-size: 12px;
    margin-left: 5px;
    color: #6e6e6e;
}